
body {
	margin: 20px;
	padding: 0px;
	background: #fff;
	font: 15px/1.4 Helvetica, arial, sans-serif;
}

code {
	background-color: #f8f8f8;
	font-size: 14px;
	line-height: 1.7;
	font: 14px Helvetica, arial, sans-serif;
}

p code, li code {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

hr {
	margin-top: 30px;
	margin-bottom: 70px;
	border: 0;
	height: 1px;
	background-color: #888;
}
